html,
body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    'header'
    'section'
    'aside-1'
    'aside-2'
    'footer';
  grid-template-rows: 1fr 4fr auto auto 1fr;
}

.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 80px; */
  background-color: chocolate;
}

@media (min-width: 700px) {
  .container {
    height: 80vh;
    width: 75vw;
    grid-template-areas:
      'header header header'
      'aside-1 section aside-2'
      'footer footer footer';

    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 2fr 5fr 2fr;
  }
}

header {
  grid-area: header;
}
footer {
  grid-area: footer;
}

aside:nth-of-type(1) {
  grid-area: aside-1;
  justify-content: flex-start;
  align-items: flex-start;
}

aside:nth-of-type(2) {
  grid-area: aside-2;
}

section {
  grid-area: 'section';
}

.search__form {
  display: flex;
}

/* .results {
  display: flex;
} */
